body {
	font-family: 'Verdana', sans-serif;
	font-size: 16px/24px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}

/*** LAYOUT ***/
#container {
	width: 320px;
	height: 480px;
	background-color: #E0E0E0;
}

/*** MAIN NAV ***/
#main_nav {
	position: relative;
	padding: 10px 0 14px 0;
	background-color: rgb(60, 60, 60);
	color: #FFF;
}

#main_nav h1 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	text-align: center;
	color: #FFF;
}

#main_nav .back {
	position: absolute;
	top: 10px;
	left: 6px;
	padding: 6px 10px;
	background-color: #FFF;
	border: none;
	font-size: 14px;
	border-radius: 3px;
}

/*** START SCREEN ***/
#startButtons {
	text-align: center;
	padding-top: 210px;
}

#startButtons a {
	padding: 6px 10px;
	background-color: rgb(60, 60, 60);
	color: #FFF;
	font-size: 20px;
	border-radius: 3px;
	text-decoration: none;
}

/*** OPTIONS ***/
#options {
	padding: 20px 10px 0 20px;
}

/*** RACES LIST ***/
#racesList {
	list-style-type: none;
	padding: 0;
	margin: 1px 0 0 0;
}

#racesList a {
	text-decoration: none;
}

#racesList li {
	margin: 0 0 1px 0;
	padding: 4px 20px;
	color: #FFF;
	background-color: rgb(100, 100, 100);
}

#racesList h3 {
	font-size: 18px;
	line-height: 26px;
	margin: 3px 0;
}

#racesList h4 {
	font-size: 14px;
	line-height: 20px;
	margin: 3px 0;
	font-weight: normal;
	color: rgb(220, 220, 220);
}

/*** RACE ***/
#race {
	padding: 20px;
}

#map {
	width: 320px;
	height: 480px;
}

#map .map-attribution {
	display: none;
}

#timer {
	padding: 6px 0;
	position: relative;
	bottom: 0;
	font-size: 24px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.80);
}

/*** ZOOM UI ***/
.zoomer {
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 4px;
}

.zoomer:hover {
	background-color: #666;
}

.zoomin {
	border-radius: 4px 4px 0 0;
	left: 10px;
}

.zoomout {
	border-radius: 0 0 4px 4px;
	top: 40px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}